@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
	overflow-y: scroll;
}

body {
	@apply size-full;
	@apply bg-gray-100 dark:bg-gray-900;
	@apply text-gray-900 dark:text-gray-100;
}

header {
	@apply flex items-center fixed top-0 right-0 left-0 py-4 h-16;
	@apply z-65536 backdrop-blur-sm;

	&>* {
		@apply flex-1;
	}
}

main {
	@apply py-16;
}

footer #footer {
	@apply py-6 text-sm;
}

div.profile-card {
	@apply border-b border-gray-300 dark:border-gray-800;
	@apply px-4 -mx-4;
	& .profile-banner {
		@apply bg-gray-400 h-48 -mx-4;
		& img {
			@apply w-full h-full object-cover;
		}
	}
	& .profile-picture {
		@apply w-32 aspect-square -mt-18;
		@apply rounded-lg;
		& img {
			border-radius: inherit;
		}
	}
	& .profile-name {
		@apply text-2xl font-semibold pt-4;
	}
	& .profile-bio {
		@apply text-sm text-gray-800 dark:text-gray-200;
	}
}