@import "tailwindcss";

header {
	@apply flex items-center fixed top-0 right-0 left-0 py-4 h-16;
	@apply backdrop-blur-sm;

	&>* {
		@apply flex-1;
	}
}

main {
	@apply py-16;
}

div.profile-card {
	@apply px-4 -mx-4;
	& .profile-banner {
		@apply bg-gray-400 h-48 -mx-4;
		& img {
			@apply w-full h-full object-cover;
		}
	}
	& .profile-picture {
		@apply bg-gray-200 w-32 aspect-square -mt-18;
		@apply rounded-lg p-0.5;
		& img {
			border-radius: inherit;
		}
	}
	& .profile-name {
		@apply text-2xl font-semibold pt-4;
	}
	& .profile-bio {
		@apply text-sm text-gray-800;
	}
}