---
import { SITE } from "@consts";
import BadgeContainer from "./BadgeContainer.astro";
import Badge from "./Badge.astro";
---

<div class="profile-card">
	<div class="profile-banner">
		<img src="/profile-banner.png" alt="">
	</div>
	<div class="profile-picture">
		<img src={"/profile-picture.png"} alt="" />
	</div>
	<h2 class="profile-name">{SITE.Name}</h2>
	<div class="profile-bio">{SITE.Bio}</div>
	<BadgeContainer class="my-4">
		<!-- Computer Scientist badge -->
		<Badge title="Computer Scientist" variant="outline" />

		<!-- Birthday badge -->
		<Badge title="Birthday: Jan 10" variant="outline" />

		<!-- GitHub badge -->
		<Badge title="GitHub: @rufailimantawa" href="https://github.com/rufailimantawa" variant="outline" />

		<!-- X badge -->
		<Badge title="X: @rufailimantawa" href="https://x.com/rufailimantawa" variant="outline" />

		<!-- Location badge -->
		<Badge title="Zamfara, NG" variant="outline" />
	</BadgeContainer>
</div>
